<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>cascade_dropdowns</title>
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>


<body>
    <div class="container">
        <div class="row">
            <h5>Example of use with fake data</h5>
        </div>
        <div class="row" style="margin-top: 50px;">
            <div ng-app="cascade_dropdowns" ng-controller="cascade_dropdowns_Controller">
                    <script type="text/ng-template" id="template" >
                        <label ng-if="nkData[0]">{{nkData[0].description}}</label>
                        <select ng-model="selectedItem" ng-init="nkData = data[data.length -1];" ng-change="selectedObect(selectedItem)" ng-options="item as item.label for item in nkData">
                        </select>
                     </script>
                <div ng-repeat="dropdown in data" ng-include="'template'"></div>
                
            </div>
        </div>
    </div>    
</body>

<!-- bootstrap -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

<script>
        var data = [
            {label: "BMW", value: 0, level: 0, description: "The car brand", child: null},
            {label: "Audi", value: 1, level: 0, description: "The car brand", child: [
                {label: "A3", value: "1a",level: 1, description: "Model",child: [
                    {label: "1.9 TDi", value: "1aa",level: 2, description: "Engine",child: null},
                    {label: "1.4 TFSI", value: "1ab",level: 2, description: "Engine",child: null},
                    {label: "2.0 TFSI", value: "1ac",level: 2, description: "Engine",child: null}   
                ]},
                {label: "A4", value: "1b",level: 1, description: "Model",child: null},
                {label: "RS6", value: "1c",level: 1, description: "Model",child: [
                    {label: "4.2 TFSI", value: "1ad",level: 2, description: "Engine",child: [
                        {label: "560 KM", value: "2ada",level: 3, description: "Power",child: null}
                    ]},
                ]},
                {label: "R8", value: "1d",level: 1, description: "Model",child: null}
            ]},
            {label: "Honda", value: 2, level: 0, description: "The car brand",child: [
                {label: "Civic", value: "2a",level: 1, description: "Model",child: [
                    {label: "2.2 C-TDI", value: "2aa",level: 2, description: "Engine",child:[
                        {label: "100 KM", value: "2aaa",level: 3, description: "Power",child: null},
                        {label: "120 KM", value: "2bbb",level: 3, description: "Power",child: null},
                        {label: "140 KM", value: "2bcc",level: 3, description: "Power",child: null}
            ]},
                    {label: "1.8 V-TEC", value: "2bb",level: 2, description: "Engine",child: null},
                    {label: "1.4 V-TEC", value: "2bc",level: 2, description: "Engine",child: null}
            ]},
                {label: "CR-V", value: "2b",level: 1, description: "Model",child: null}
            ]},
            {label: "Suzuki", value: 3, level: 0, description: "The car brand",child: null},
            {label: "Opel", value: 4, level: 0, description: "The car brand",child: [
                {label: "Astra", value: "4a",level: 1, description: "Model",child: null},
                {label: "Insignia", value: "4b",level: 1, description: "Model",child: null}
            ]}
        ]

        

        var app = angular.module('cascade_dropdowns', []);
        app.controller('cascade_dropdowns_Controller', function($scope) {
            
            $scope.data = [data];

            $scope.selectedObect = (value) => {

                // save the current selected level 
                let currentLevel = value.level; 
                $scope.data = $scope.data.slice(0, currentLevel+1);
                
                if(value.child !== null){               
                    $scope.data.push(value.child);
                }
            }
        });

        
</script>
</html>